.address {
  margin-top: 20px;
}

.address__link {
  font-style: normal;

  color: var(--footer-text-color);
  transition: color var(--action-time) var(--action-function);
}

.map {
  color: var(--white);
}

.address__link:hover,
.address__link:focus {
  color: var(--hover-text-color);
}

.address__item + .address__item {
  margin-top: 9px;
}
